{{ template "header.html" }}

    <form>
        <div class="container">
            <div class="control-panel">
                {{if .note}}
                    <div class="publish-btn">Save</div>
                {{else}}
                    <div class="publish-btn">Publish</div>
                {{end}}
                <div class="control-panel-container">
                    <div class="action-btn">
                        <img class="icon" src="/static/images/add.svg" alt="Create Note">
                        <div class="tooltip">Create a new note</div>
                    </div>
                    <div class="action-btn">
                        <a href="/view-notes">
                            <img class="icon" src="/static/images/view.svg" alt="View All Notes">
                            <div class="tooltip">View notes</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-section">
                {{if .note}}
                    <input id="input-title" value="{{.note.Title}}" type="text" class="input-title" placeholder="Title">
                    <input id="form-content" value="{{.note.ContentBody}}" type="hidden" name="content">
                    <trix-editor autofocus class="trix-custom-content" input = "form-content"></trix-editor>
                {{else}}
                    <input id="input-title" type="text" class="input-title" placeholder="Title">
                    <input id="form-content" type="hidden" name="content">
                    <trix-editor autofocus class="trix-custom-content" input = "form-content"></trix-editor>
                {{end}}
            </div>
        </div>
    </form>

{{ template "footer.html" }}