{{ template "header.html" }}

<form action="/{{.note.Id}}/edit" method="post" name="editNoteForm">
        <div class="container">
            <div class="control-panel">
                <input class="publish-btn" type="submit" value="Save">
                <div class="control-panel-container">
                    <div class="action-btn">
                        <a href="/">
                            <img class="icon" src="/static/images/add.svg" alt="Create Note">
                            <div class="tooltip">Create a new note</div>
                        </a>
                    </div>
                    <div class="action-btn">
                        <a href="/view-notes">
                            <img class="icon" src="/static/images/view.svg" alt="View Notes">
                            <div class="tooltip">My notes</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-section">
                <input id="input-title" name="input-title" value="{{.note.Title}}" type="text" class="input-title" placeholder="Title">
                <input id="form-content" value="{{.note.ContentBody}}" type="hidden" name="content">
                <trix-editor autofocus class="trix-custom-content" input = "form-content"></trix-editor>
            </div>
        </div>
    </form>

{{ template "footer.html" }}