<!DOCTYPE html>
<html>
    <head>
        <title>PostMate - Simple Note Taker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?amily=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
        <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
        <link rel="stylesheet" href="../static/css/general.css">
        <link rel="stylesheet" href="../static/css/view-notes.css">
    </head>
    <body>

        <form>
            <div class="container">
                <div class="control-panel">
                    <div class="new-note-btn">New Note</div>
                </div>
                <div class="main-section">
                    <div class="heading">My Notes</div>
                    <div class="sync-notes-container">
                        <a href = ""> Sync notes with another device </a> -
                        <a href= ""> Import notes </a>
                    </div>
                    <input type="text" class="search-notes-input" placeholder="Search notes...">
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                    <div class="search-notes-container">
                        <div class="delete-btn">
                            <img src="../images/delete.svg" class="icon" alt="delete-note-icon">
                            <div class="tooltip">Remove Note</div>
                        </div>
                        <div class="note-title">
                            <a href="" class="note-title-link">Note Title</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </body>
</html>