{{ template "header.html" }}

    <form>
        <div class="container">
            <div class="control-panel">
                <a class="new-note-link" href="/">
                    <div class="new-note-btn">New Note</div>
                </a>
            </div>
            <div class="main-section">
                <div class="heading">My Notes</div>
                <div class="sync-notes-container">
                    <a href = ""> Sync notes with another device </a> -
                    <a href= ""> Import notes </a>
                </div>
                {{if .notes}}
                    <input type="text" class="search-notes-input" placeholder="Search notes..." onkeyup="searchNote(this);">
                    <input type="hidden" id="arrLength" value="{{len .notes}}">
                    {{range $i, $e := .notes}}
                        <div id = "note-{{.Id}}" class="search-notes-container">
                            <div class="delete-btn">
                                <img data-imgid="{{.Id}}" src="/static/images/delete.svg" class="icon" alt="delete-note-icon" onclick="deleteNote()">
                                <div class="tooltip">Remove Note</div>
                            </div>
                            <div class="note-title">
                                <a href="/{{.Id}}" class="note-title-link">{{.Title}}</a>
                            </div>
                        </div>
                    {{end}}
                {{else}}
                    <div>
                        <p> You haven't created any note yet. <a href="/create-note">Create a note now</a></p>
                    </div>
                {{end}}
            </div>
        </div>
    </form>

{{ template "footer.html" }}